body {
  background-color: #cce0fb;
}

.header {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 320px;
  background-color: #233863;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 10px #0b0b0c12;
  border-bottom: 1px solid #233863;
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
